<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <head th:replace="~{fragment/header :: head('상세페이지')}"></head>
</head>

<body>
  <div th:replace="~{fragment/nav :: nav}"></div>
  <div class = "container mt-3">

      <div class="card">
          <div class="card-body">
              <h4 class="card-title" th:text="#{index.018}"></h4>
              <h6 class="card-subtitle mb-2 text-muted" th:text="#{index.020}"></h6>
              <p class="card-text"></p>
              <a href="https://pattern-buckaroo-c6c.notion.site/29de7ce6a1218024ae6ad919b909a8b7" class="card-link" th:text="#{index.026}"></a>
              <a href="https://github.com/dkin12/ChoiceMate" class="card-link" th:text="#{index.027}"></a>
          </div>
      </div>
  </div>
</body>
</html>